<!DOCTYPE html> 
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>
  <body>

    <div class="container">

      <% if(success != ''){ %>
      <div class="alert alert-success">
        <strong>Success!</strong><%= success %>
      </div>
      <% } %>

      

      <h2 style="background-color: teal; padding: 5px; text-align: center;">Employee Details Filter</h2>
     
         
            
      
            <form  action="/search/" id="EmployeeForm" role="form" method="POST">
              <div class="row" style="width: 100%;">
         <div class="col-md-3 form-group" >
            <label style="text-align: right;" class="control-label col-md-12">Name:</label>
              <input type="text" class="col-md-12 form-control" name="fltrname" placeholder="Enter Username">
          </div>

          <div class="col-md-3 form-group" >
            <label style="text-align: right; " class="col-md-12 control-label">Email:</label>
              <input type="text" class="col-md-12 form-control" name="fltremail" placeholder="Enter Email">
          </div>

          <div class="form-group col-md-3">
            <label style="text-align: right;" class="col-md-12 control-label">Employee type:</label>
              <select class="col-md-12 form-control" name="fltremptype">
                <option value="Hourly">Hourly</option>
                <option value="Fixed">Fixed</option>
              </select>
          </div>

          <div class="form-group col-md-3"  >
            <label style="text-align: right;" class="col-md-12 control-label" >&nbsp;</label>
            
          <button type="submit" class="col-md-12 form-control" name="submit" style="background-color: teal; color: white;">Submit</button>
          </div>
        </div>
        </form>
        
        </div>
        <br><br><br>
  
    
    
     
      <div class="container">
      <div class="row">
    <h1><%= title %></h1>

    

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Emp Type</th>
          <th>Hourly Rate</th>
          <th>Total Hours</th>
          <th>Total Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (records.length > 0){ %>
        <% records.forEach(function(row){ %>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.email %></td>
          <td><%= row.etype %></td>
          <td><%= row.hourlyrate %></td>
          <td><%= row.totalHour %></td>
          <td><%= row.total %></td>
          <td><a class="btn btn-primary btn-sm" href="/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-sm" href="/delete/<%= row._id %>"><i class="fa fa-trash"></i></a></td>
          
        </tr>
        <% })} else{ %>
        <tr>
            <td colspan="6">No Record Found</td>
            
            
        </tr>
          <% } %>
      </tbody>
    </table>
    </div>
    <br><br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form style="border: teal 1px solid;" action="/" role="form" method="POST">
          <h2 style="background-color: teal; padding: 5px; text-align: center;">Employee Details Form</h2>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Name:</label>
              <input type="text" class="col-md-8 form-control" name="uname" placeholder="Enter Username">
            </div>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Email:</label>
              <input type="text" class="col-md-8 form-control" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Employee Type:</label>
             <select class="form-control col-md-8" name="emptype">
                <option value="Hourly">Hourly</option>
                <option value="Fixed">Fixed</option>
             </select>
            </div>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Hourly Rate:</label>
              <input type="text" class="col-md-8 form-control" name="hourlyrate" placeholder="Enter hourlyrate">
            </div>
            <div class="form-group row" style="padding: 5px;">
              <label style="padding-top: 5px; text-align: right;" class="col-md-3 control-label">Total Hours:</label>
              <input type="text" class="col-md-8 form-control" name="totalhours" placeholder="Enter total hours">
            </div>
            <div class="form-group row" style="padding: 5px;">
              <div class="col-md-3"></div>
              <button type="submit" class="col-md-2 form-control" value="Submit" style="background-color: teal; color: white;">Submit</button>
              <div class="col-md-7"></div>
            </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
